.form-group{
    font-size: 14px;
}
.form-group input{
    font-size: 12px;
}

.form-group span{
    font-size: 12px;
}
.form-layout{
    width: 400px;

}

.form-head{
    margin-bottom: 3%;
}

.form-head p{
    font-size: 14px;
}
.form-group{
    text-align: left;
    margin-bottom: 5%;
}



/* Form-3 elements */
.card-title-icon{
    text-align: left;
}

.card-myself{
    width:90%;

}

.card-myself :hover{
    cursor: pointer;
}

.card-titled{
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.card-text-left{
    text-align: left;
    font-size: 12px;
    
}



/* FORM-4 ELEMENTS */


.success-icon{
    border: 1px solid #7f65e9;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    color: white;
    background-color: #7f65e9;
}

/* Mobile view requirements */
@media only screen and (max-width: 600px) {
 .form-layout{
    width: 80%;

    }
}